*.aux
.Rapp.history
*.log
submission1/submitted_files/spacemix_plos_template.pdf
submission1/spacemix_plos_template.pdf
submission1/reviews/spacemix_reviews.pdf
arxiv_tex/spacemix.pdf
arxiv_tex/spacemix.bbl
submission2/spacemix_plos_template_sub2.pdf
submission2/spacemix_plos_template_sub2.bbl
submission2/spacemix_sub1v2_diff.bbl
*.synctex.gz
*.mp
*.top
*.tui
.DS*
*.blg
*.out
